@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
    height:100%;
}

body {
    color: #212121;
    background-color: #F8F8F8;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    height:100%;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

div.ui-modal {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 2;
}

div.ui-modal div.ui-modal-window {
    background-color: #F8F8F8;
    border-radius: 6px;
    box-shadow: 0px 4px 32px #212121;
    cursor: default;
    left: 50%;
    max-width: 680px;
    min-width: 540px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 66%;
    z-index: 2;
}

div.ui-modal div.ui-modal-window div.ui-modal-window-body {
    max-height:calc(80vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
}

/** Scrollbar styles for the modal window **/
div.ui-modal div.ui-modal-window div.ui-modal-window-body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

div.ui-modal div.ui-modal-window div.ui-modal-window-body::-webkit-scrollbar-thumb {
    background-color: #757575;
    border-radius: 3px;
}

div.ui-modal div.ui-modal-window div.ui-modal-window-header {
    color: #212121;
    height: 36px;
    margin-bottom: 10px;
}

div.ui-modal div.ui-modal-window div.ui-modal-window-header div.ui-modal-window-header-title {
    float: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 8px;
}

div.ui-modal div.ui-modal-window div.ui-modal-window-header div.ui-modal-window-header-button {
    cursor: pointer;
    float: right;
    height: 36px;
}

div.ui-modal div.ui-modal-window div.ui-modal-window-header div.ui-modal-window-header-button:hover {
    color: #4CAF50;
}

div.ui-modal table input[type=checkbox] {
    width: 18px;
    height: 16px;
}

div.ui-modal div.ui-modal-tint {
    background-color: #212121;
    height: 100%;
    opacity: 0.5;
    width: 100%;
}

div.ui-container {
    position:relative;
    min-height:calc(100% - 10px);
    padding-bottom:10px;
}

div.ui-header {
    background-color: #4CAF50;
    box-shadow: 0px 0px 16px #212121;
    font-weight: 400;
    min-height: 80px;
    width: 100%;
}

div.ui-header div.ui-header-left {
    float: left;
}

div.ui-header div.ui-header-right {
    float: right;
    padding-right: 10px;
}

div.ui-header div.ui-header-logo {
    color: #FFFFFF;
    cursor: default;
    font-size: 18px;
    font-weight: 700;
    height: 80px;
    line-height: 80px;
    margin-left: 20px;
    position: relative;
    text-align: center;
}

div.ui-header div.ui-header-logo i {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

div.ui-header div.ui-header-button {
    color: #E1E1E1;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 80px;
    line-height: 80px;
    padding: 0px 20px;
    text-align: center;
    text-transform: uppercase;
}

div.ui-header div.ui-header-button:hover,
div.ui-header div.ui-header-button-active {
    color: #FFFFFF;
}

div.ui-content {
    display: block;
    margin: 10px;
}

div.ui-content div.ui-content-text {
    color: #212121;
    cursor: default;
    font-size: 14px;
    padding: 10px;
}

div.ui-content div.ui-content-text div.ui-content-text-header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
    position: relative;
}

div.ui-content div.ui-content-text div.ui-content-text-header-left {
    display: inline-block;
}


/** Search input styles **/

div.ui-content div.ui-content-text div.ui-content-text-header-right {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    font-size: 14px;
}

div.ui-content div.ui-content-text input.ui-content-text-header-search {
    width: 100%;
    min-width: 160px;
    height: 40px;
    padding-left: 40px;
    margin-left: -40px;
    float: left;
    color: #212121;
    outline: none;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #F8F8F8;
    font-family: Montserrat, sans-serif;
}

div.ui-content div.ui-content-text input.ui-content-text-header-search:hover,
div.ui-content div.ui-content-text input.ui-content-text-header-search:active,
div.ui-content div.ui-content-text input.ui-content-text-header-search:focus {
    background-color: #FFFFFF;
    border: none;
    margin-top: 1px;
    margin-left: -39px;
    box-shadow: 0px 0px 2px 1px #4CAF50;
}

div.ui-content div.ui-content-text input.ui-content-text-header-search::-webkit-input-placeholder {
    color: #BDBDBD;
}

div.ui-content div.ui-content-text input.ui-content-text-header-search:-moz-placeholder {
    /* Firefox 18- */
    color: #BDBDBD;
}

div.ui-content div.ui-content-text input.ui-content-text-header-search::-moz-placeholder {
    /* Firefox 19+ */
    color: #BDBDBD;
}

div.ui-content div.ui-content-text input.ui-content-text-header-search:-ms-input-placeholder {
    color: #BDBDBD;
}

div.ui-content div.ui-content-text div.ui-content-text-header-right i {
    position: absolute;
    padding-top: 10px;
    padding-left: 12px;
    margin-left: -40px;
    z-index: 1;
    color: #BDBDBD;
}

div.ui-content div.ui-content-text input.ui-content-text-header-search:focus + ul.search-results,
div.ui-content div.ui-content-text div.ui-content-text-header-right ul.search-results:active {
    display: block;
}

div.ui-content div.ui-content-text div.ui-content-text-header-right ul.search-results {
    display: none;
    position: absolute;
    color: #212121;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 0;
    font-weight: 400;
    margin-left: -40px;
    border-width: 1px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
}

div.ui-content div.ui-content-text div.ui-content-text-header-right ul.search-results li {
    cursor: pointer;
    list-style: none;
    padding: 10px;
}

div.ui-content div.ui-content-text div.ui-content-text-header-right ul.search-results li:first-child:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border-bottom: 5px outset transparent;
}

div.ui-content div.ui-content-text div.ui-content-text-header-right ul.search-results li:hover {
    color: #FFFFFF;
    background-color: #4CAF50;
}

div.ui-content div.ui-content-text div.ui-content-text-header-right ul.search-results li span {
    font-size: 12px;
}

div.ui-content div.ui-divider {
    height: 1px;
    background-color: #BDBDBD;
    border-bottom: 1px solid #FFF;
    margin: 10px;
}


/** Main data table styles **/

table {
    background-color: #E9E9E9;
    border-collapse: separate;
    border-radius: 6px;
    border-spacing: 0px;
    color: #212121;
    font-size: 14px;
    width: 100%;
}

table thead {
    background-color: #4CAF50;
    color: #F8F8F8;
    font-size: 16px;
}

table thead th {
    padding: 10px;
}

table tr td {
    padding: 10px;
    text-align: center;
}

table.selectable tbody tr {
    cursor: pointer;
}

table tr.odd {
    background-color: #F8F8F8;
}

table.selectable tbody tr:hover,
table.selectable tbody tr.selected {
    background-color: #388E3C;
    color: #F8F8F8;
}

/* top-left border-radius */

table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}


/* top-right border-radius */

table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}


/* bottom-left border-radius */

table tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}


/* bottom-right border-radius */

table tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

table tfoot {
    font-weight: 700;
}


/** Schedule style **/

div.ui-schedule {
    position:relative;
    margin:10px;
    color:#212121;
    height:auto;
    padding-bottom:80px;
}

div.ui-schedule div.ui-schedule-timeline {
    display:block;
    position:absolute;
    top:50px;
    left:0;
    width:100%;
    z-index:1;
}

div.ui-schedule div.ui-schedule-timeline ul {
    padding:0;
    margin:0;
}

div.ui-schedule div.ui-schedule-timeline li {
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
    height:50px;
    font-size:14px;
}

div.ui-schedule div.ui-schedule-timeline li span {
    display:inline-block;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

div.ui-schedule div.ui-schedule-timeline li:after {
    content:'';
    position:absolute;
    bottom:0;
    left:50px;
    width:calc(100% - 100px);
    height:1px;
    background:#E1E1E1;
}

div.ui-schedule div.ui-schedule-timeline li:last-of-type:after {
    display:none;
}

div.ui-schedule div.ui-schedule-events {
    min-height:750px;
    width:calc(100% - 100px);
    margin:0px 50px;
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group {
    position: relative;
    width:20%;
    float:left;
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group:first-of-type div.ui-schedule-events-group-info {
    border-top-left-radius: 6px;
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group:last-of-type div.ui-schedule-events-group-info {
    border-top-right-radius: 6px;
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group div.ui-schedule-events-group-info {
    height:50px;
    line-height:50px;
    text-align: center;
    background-color:#4CAF50;
    color:#FFFFFF;
    font-weight:700;
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group > ul {
    height:700px;
    display:block;
    overflow:visible;
    padding:0;
    margin:0;
    border:1px solid #E1E1E1;
    background-color:#F8F8F8;
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group > ul li {
    position:absolute;
    width:100%;
    min-height:calc(50px - 4px);
    list-style: none;
    color:#4CAF50;
    text-align:center;
    background-color: #C8E6C9;
    z-index:2;
    border-bottom:4px solid #B9DFBA;
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group > ul li div.contents {
    position:absolute;
    width:100%;
    top:50%;
    transform: translateY(-50%);
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group > ul li div.contents div.title {
    font-weight:700;
    font-size:16px;
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group > ul li div.contents div.room {
    font-size:12px;
}

div.ui-schedule div.ui-schedule-events div.ui-schedule-events-group:not(:first-of-type) > ul {
    border-left-width:0;
}


/** Footer and progress bar styles **/

div.ui-footer {
    background-color: #363636;
    bottom: 0;
    height: 80px;
    position: absolute;
    width: 100%;
}

div.ui-footer div.ui-footer-progress-bar {
    border-radius: 20px;
    background-color: #212121;
    height: 40px;
    margin: 20px;
    position: relative;
    width: calc(100% - 40px);
    z-index: 1;
}

div.ui-footer div.ui-footer-progress-bar div.ui-footer-start-generation {
    color:#757575;
    cursor: pointer;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-transform: uppercase;
}

div.ui-footer div.ui-footer-progress-bar div.ui-footer-start-generation:hover {
    color: #FFF;
}

div.ui-footer div.ui-footer-progress-bar > span {
    display: block;
    height: 40px;
    border-radius: 20px;
    background-color: #4CAF50;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}

div.ui-footer div.ui-footer-progress-bar > span div.ui-footer-progress-bar-status {
    color: #388E3C;
    float: right;
    font-size: 20px;
    line-height: 40px;
    margin-right: 14px;
}